[Unit]
Description=FTP service
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name ftp -p 21:21 -v /mnt/raid1/cam:/var/www/cam -v /home/hendry/docker/ftp-users.txt:/etc/ftp-users.txt hendry/ftp
ExecStop=/usr/bin/docker stop ftp

[Install]
WantedBy=multi-user.target
