[Unit]
Description=ftp camera
After=docker.service
Require=docker.service

[Service]
ExecStart=/bin/bash -c '/usr/bin/docker start -a ftp || /usr/bin/docker run -d --name ftp -p 21:21 -v /mnt/2tb/cam:/var/www/cam -v /home/hendry/docker/ftp/ftp-users.txt:/etc/ftp-users.txt hendry/ftp'
ExecStop=/usr/bin/docker stop ftp
RestartSec=5s
Restart=always

[Install]
WantedBy=multi-user.target
